@import "style/reset.css";

.Login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-form {
    display: flex;
    width: 840px;
    flex-direction: column;
    align-items: center;
}

.login-heading {
    font-size: 24px;
    margin: 16px 0px 16px 0px;
}

.login-label {
    margin: 16px 0px 10px 0px;
}

/*.login-input {}*/

.login-checkbox-label {
    display: flex;
    align-items: center;
    width: 120px;
    justify-content: space-between;
    margin: 8px;
}

/*.login-checkbox {}*/

.button-container {
    display: flex;
    max-width: 422px;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    margin: 16px;
}

.login-button {
    border-radius: 10px;
    padding: 14px 0px;
    margin: 3% 0%;
    background: #F2F60F;
    color: #151A26;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

.login-button:hover {
    background-color: #f1f294;
}

.register-button {
    color: #FFF;
    text-align: center;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    border-radius: 10px;
    background: #1E2538;
    padding: 3% 0%;
    cursor: pointer;
}
.register-button:hover{
    background: #3c3f46;
}

.restore-password p{
    display: flex;
    margin: 16px 0px;
    color: #3657CB;
    text-align: center;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    text-decoration-line: underline;
    cursor: pointer;
    animation: button-click 0.2s;
}
.restore-password:active {
    transform: scale(0.95);
}

.social-links {
    display: flex;
    max-width: 188px;
    width: 100%;
    justify-content: space-around;
    /*margin: 16px auto;*/
    list-style-type: none;
}

.social-link,
.social-link img{
    width: 41px;
    cursor: pointer;
    text-decoration: none;
}